@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }


  .d-block {
    height: 600px;
  }
  
  
  .karel{
  font-family: 'Smooch', cursive;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
  }
  
  .navbar-brand {
    font-family: 'Smooch', cursive;
    font-size: 30px;
  }
  
  .nav-link{
  font-size: 20px;
  }
  
  
  .card {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius:20px;
    padding:5px;
    margin-top:60px;
    background-color:white;
    border:2px;
  }
  
  .card:hover {
    background-color:#f5f5f5;
    border:solid 6px black;
    border-radius:20px;
  }
  
  
  .card-text{
    text-align: justify;
  }
  
  footer {
    background:black;
    margin-top:200px;
    padding:20px;
  }
  footer p {
    text-align:center;
    color:white;
  }
  
  h2 {
     color: #150050;
     text-align: center;
     font-size: 40px;
     font-family: 'Dancing Script', cursive;
  
  }
  
  h3 {
     color: #00a2c6
  }
  
  .p-article {
     text-align: justify;
     font-size: 20px;
     font-weight: 400;
     text-decoration: none;
     color: #000000;
     font-family: 'Dancing Script', cursive;
  
  }
  .p-article-konten {
     text-align: justify;
     text-indent: 0.5in;
     font-size: 20px;
     font-weight: 400;
     text-decoration: none;
     color: #000000;
     font-family: 'Dancing Script', cursive;
  }
   
  .featured-image {
     object-fit: cover;
     object-position: center;
     margin-left:auto;
     margin-right:auto;
     display:block;
     width:50%;
     border-radius: 10px;
     border: 2px solid black;
  }
  
  
  /*aside*/
  
  #content {
     width: 75%;
     margin-left:auto;
     margin-right:auto;
  }
  
  #content-konten {
     float: left;
     width: 75%;
  }
  
  
  .hahaha {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
     border-radius: 5px;
     padding: 20px;
     margin-top: 20px;
     margin-bottom: 30px;
     background-color: white;
    } 
  
  .hahaha:hover {
    background-color:#f5f5f5;
    border:solid 6px black;
    border-radius:20px;
  }
  .btn-primary {
  margin-top: 20px;
  }
